# Color scheme copy from 256 xterm colors(suit for xterm which use solarized-dark theme) - Solarized Yellow (http://ethanschoonover.com/solarized)

branch=pyro.extended=,"ui.color.alarm.set       = \"bold 254 on 160\""
branch=pyro.extended=,"ui.color.complete.set    = \"136\""
branch=pyro.extended=,"ui.color.even.set        = \"on 234\""
branch=pyro.extended=,"ui.color.focus.set       = \"reverse\""
branch=pyro.extended=,"ui.color.footer.set      = \"bright cyan on 24\""
branch=pyro.extended=,"ui.color.incomplete.set  = \"64\""
branch=pyro.extended=,"ui.color.info.set        = \"245\""
branch=pyro.extended=,"ui.color.label.set       = \"240\""
branch=pyro.extended=,"ui.color.leeching.set    = \"bold bright 70\""
branch=pyro.extended=,"ui.color.odd.set         = \"\""
branch=pyro.extended=,"ui.color.progress0.set   = \"160\""
branch=pyro.extended=,"ui.color.progress20.set  = \"61\""
branch=pyro.extended=,"ui.color.progress40.set  = \"33\""
branch=pyro.extended=,"ui.color.progress60.set  = \"37\""
branch=pyro.extended=,"ui.color.progress80.set  = \"64\""
branch=pyro.extended=,"ui.color.progress100.set = \"136\""
branch=pyro.extended=,"ui.color.progress120.set = \"bold bright 166\""
branch=pyro.extended=,"ui.color.queued.set      = \"125\""
branch=pyro.extended=,"ui.color.seeding.set     = \"bold bright 166\""
branch=pyro.extended=,"ui.color.stopped.set     = \"33\""
branch=pyro.extended=,"ui.color.title.set       = \"bold bright 230 on 64\""
