# Color scheme for 256 xterm colors
branch=pyro.extended=,"ui.color.alarm.set       = \"bold white on red\""
branch=pyro.extended=,"ui.color.complete.set    = \"41\""
branch=pyro.extended=,"ui.color.even.set        = \"on 234\""
branch=pyro.extended=,"ui.color.focus.set       = \"reverse\""
branch=pyro.extended=,"ui.color.footer.set      = \"bright cyan on 20\""
branch=pyro.extended=,"ui.color.incomplete.set  = \"yellow\""
branch=pyro.extended=,"ui.color.info.set        = \"white\""
branch=pyro.extended=,"ui.color.label.set       = \"gray\""
branch=pyro.extended=,"ui.color.leeching.set    = \"bold bright yellow\""
branch=pyro.extended=,"ui.color.odd.set         = \"on 232\""
branch=pyro.extended=,"ui.color.progress0.set   = \"196\""
branch=pyro.extended=,"ui.color.progress20.set  = \"202\""
branch=pyro.extended=,"ui.color.progress40.set  = \"213\""
branch=pyro.extended=,"ui.color.progress60.set  = \"214\""
branch=pyro.extended=,"ui.color.progress80.set  = \"226\""
branch=pyro.extended=,"ui.color.progress100.set = \"34\""
branch=pyro.extended=,"ui.color.progress120.set = \"bold bright 47\""
branch=pyro.extended=,"ui.color.queued.set      = \"magenta\""
branch=pyro.extended=,"ui.color.seeding.set     = \"bold bright 46\""
branch=pyro.extended=,"ui.color.stopped.set     = \"33\""
branch=pyro.extended=,"ui.color.title.set       = \"bold bright white on blue\""
