# Color scheme for 256 xterm colors - Happy Pastel (less harsh default colors)

pyro.color_theme.name = "Happy Pastel"

branch=pyro.extended=,"ui.color.alarm.set       = \"bold 250 on 124\""
branch=pyro.extended=,"ui.color.complete.set    = \"41\""
branch=pyro.extended=,"ui.color.even.set        = \"on 234\""
branch=pyro.extended=,"ui.color.focus.set       = \"reverse\""
branch=pyro.extended=,"ui.color.footer.set      = \"bright 123 on 160\""
branch=pyro.extended=,"ui.color.incomplete.set  = \"221\""
branch=pyro.extended=,"ui.color.info.set        = \"white\""
branch=pyro.extended=,"ui.color.label.set       = \"241\""
branch=pyro.extended=,"ui.color.leeching.set    = \"bold bright 220\""
branch=pyro.extended=,"ui.color.odd.set         = \"on 232\""
branch=pyro.extended=,"ui.color.progress0.set   = \"196\""
branch=pyro.extended=,"ui.color.progress20.set  = \"207\""
branch=pyro.extended=,"ui.color.progress40.set  = \"202\""
branch=pyro.extended=,"ui.color.progress60.set  = \"214\""
branch=pyro.extended=,"ui.color.progress80.set  = \"226\""
branch=pyro.extended=,"ui.color.progress100.set = \"34\""
branch=pyro.extended=,"ui.color.progress120.set = \"bold bright 46\""
branch=pyro.extended=,"ui.color.queued.set      = \"133\""
branch=pyro.extended=,"ui.color.seeding.set     = \"bold bright 40\""
branch=pyro.extended=,"ui.color.stopped.set     = \"33\""
branch=pyro.extended=,"ui.color.title.set       = \"bold bright white on 202\""
